 @media only screen and (min-width : 481px) {

 	.profile-wrapper{
 		padding-bottom:10px;
 		max-width: 600px;
 	}

 	.profile-image,
 	.profile-content{
 		float: left;
 	}

 	.profile-image{
 		position:relative;
 		margin-left:10px;
 		width: 170px;
 	}

 	.profile-content{
 		  padding-left: 180px;
		  width: 100%;
		  margin-left: -180px;
		  text-align: left;
 	}

 	.profile-title{
 		padding:0 10px;
 		font-size:3.5em;
 		margin:0 0 30px;
 	}

 	.profile-metas{
 		width: 100%;
 		text-align: right;
 		padding-left:10px;

 		li{
 			width:auto;
 			padding:10px 20px;

 		}
 	}

 	.slider-wrapper,
 	.actions-wrapper{
 		max-width: 530px;
 	}
 }